@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-primary-100: #9cee69;  /* Light green */
    --color-primary-300: #6cc832;  /* suitable for hover */
    --color-primary-500: #1a4200; /* dark: suitable for text */

    --text-tiny-size: 0.75rem; /* 0.0625 px rate = 12px */
    --text-small-size: 0.875rem; /* 0.0625 px rate  =14px */
    --text-medium-size: 1.25rem;
}

@utility bg-dotted {
    background-image: radial-gradient(circle, rgba(156, 238, 105, 1) 1px, transparent 1px);
    background-size: 5px 5px;
}